.page {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.page__body {
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages-item {
  box-sizing: border-box;
  background-color: #eeeeee;
}

.advantages-item__content-wrapper {
  padding: 24px 16px 24px 16px;
  text-align: center;
  border-bottom: 1px solid #d6d6d6;
}

.advantages-item__title {
  margin: 0;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item__description {
  margin: 0;
  text-transform: uppercase;
}

.advantages-item__photo {
  display: block;
  padding: 0;
}

.advantages-item--base {
  padding: 0 18px 0 18px;
}

.advantages-item--advanced {
  background-color: #81b3d2;
  color: #ffffff;
  border: 0;
}

.advantages-item__title--advanced {
  color: #ffffff;
}

.advantages-sublist {
  padding: 0;
  padding-top: 15px;
  padding-bottom: 37px;
  margin: 0;
  list-style-type: none;
  background-color: #ffffff;
  color: #333333;
}

.advantages-sublist-item {
  padding: 15px 18px 15px 18px;
}

.advantages-sublist-item__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-sublist-item__description {
  margin: 0;
  text-transform: uppercase;
}

.button {
  display: block;
  margin: 0 auto;
  background-color: #81b3d2;
  border-width: 0;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button--feedback {
  width: 281px;
  padding-top: 18px;
  padding-bottom: 14px;
}

.button--search {
  width: 284px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.button--modal-approve {
  width: 280px;
  padding-top: 18px;
  padding-bottom: 14px;
}

.button--modal-error {
  width: 180px;
  padding-top: 18px;
  padding-bottom: 14px;
}

.checkbox-field:not(:last-child) {
  padding-bottom: 36px;
}

.checkbox-field__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.text-field:not(:last-child) {
  padding-bottom: 16px;
}

.text-field__label {
  display: block;
  text-transform: uppercase;
}

.text-field__input {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #f2f2f2;
  border-width: 0;
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

.copyright__text {
  margin-right: 5px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.feedback-form__note {
  display: block;
  padding-right: 20px;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 0 20px 34px 20px;
  border: 0;
}

.form-group:not(:last-of-type) {
  border-bottom: 1px solid #e5e5e5;
}

.form-group__title {
  padding-top: 24px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.form-group__field {
  display: block;
}

.form-group__title--text-field {
  padding-bottom: 20px;
}

.form-group__title--radio-field {
  padding-bottom: 30px;
}

.form-group__title--checkbox-field {
  padding-bottom: 30px;
}

.form-group__title--textarea-field {
  padding-bottom: 20px;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2");
  font-display: swap;
}
.gallery-item {
  padding: 24px 20px 25px 20px;
  margin: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
}

.gallery-item__caption-copyright {
  margin-bottom: 16px;
}

.gallery-item__title {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.gallery-item__author {
  padding: 0;
  margin: 0;
}

.gallery-item__likes {
  font-weight: 700;
}

.gallery-item__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.hashtag__link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.main-footer {
  padding: 38px 0 23px 0;
  text-align: center;
}

.main-footer__hashtag {
  margin-bottom: 34px;
}

.main-footer__socials {
  margin-bottom: 40px;
}

.main-nav {
  background-color: #81b3d2;
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  text-align: center;
}

.main-nav__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 12px;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
}

.main-search {
  padding-top: 38px;
  padding-bottom: 49px;
  text-align: center;
}

.main-search__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.main-search__description {
  margin: 0;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.main-promo {
  position: relative;
  min-height: 389px;
  background-image: url("../img/jpg/back-mobile.jpg");
  background-repeat: no-repeat;
  background-color: #81b3d2;
  text-align: center;
}

.main-promo__text {
  margin: 0 auto;
  padding-top: 90px;
}

.main-promo::after {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 57px;
  background-image: url("../img/intro-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.modal-approve {
  padding: 39px 20px 20px 20px;
  text-align: center;
}

.modal-approve__title {
  margin: 0;
  margin-bottom: 36px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal-approve__approve-message {
  margin: 0;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.modal-error {
  padding: 45px 42px 35px 41px;
  text-align: center;
}

.modal-error__title {
  margin: 0;
  margin-bottom: 36px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal-error__error-message {
  margin: 0;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.preview {
  text-align: center;
  padding: 32px 20px 16px 20px;
  border-bottom: 1px solid #e5e5e5;
}

.preview__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.preview__description {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.promo {
  background-image: url("../img/jpg/back-desktop.jpg");
  background-repeat: no-repeat;
  background-color: #81b3d2;
}

.promo--size-s {
  position: relative;
  min-height: 158px;
  text-align: center;
}

.promo__text--size-s {
  margin-top: 52px;
}

.promo--size-s::after {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 57px;
  background-image: url("../img/intro-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.radio-field:not(:last-child) {
  padding-bottom: 36px;
}

.radio-field__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.socials__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.socials__item {
  margin-right: 6px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}

.socials__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.textarea-field__input {
  width: 100%;
  background-color: #f2f2f2;
  border: 0;
}

.video-item__video {
  display: block;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */